<div style="text-align: center">
  <div>
    <img [src]="isLightOn ? lightOff: lightOn " width="250px">
  </div>
  <button style="margin-top: 5px;" (click)="onToggleLight()"
  [style.background-color] =" isOnButton ? 'whitesmoke': 'green'" >Toggle Light Bub</button>
</div>
<hr>
<div style="text-align: center">
  <input style="width: 250px; height: 27px" [(ngModel)]="value">
  <p>Result: <span [style.color]= "value" >{{value | uppercase}}</span></p>
</div>
